<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIODIVERSIDAD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="header ">
        <div class="menu container">
            <a href="#" class="logo">TUNJA</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="/static/multimedia/images/menu.png" class="menu-icono" alt="">
            </label>
            
        </div>
        <div class="header-content container">
            <h1>BIODIVERSIDAD</h1>
            <p>Aqui puedes aprender sobre la importancia de la biodiversidad y como puedes ayudar a protegerla.
            </p>
            <a href="#" class="btn-1">Información</a>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">            
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/informacion">Información</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registro">Registro</a>
                </li>
            </ul>
        </div>
</nav>
{% block body %}
<section class="coffee">
    <img class="coffee-img" src="/static/multimedia/images/icon_fyf.gif" alt="">
    <div class="coffee-content container">
        <h2>Fauna y flora de la ciudad de Tunja. </h2>
        <p class="txp-p">
            ¿Sabías que a la ciudad de Tunja la atraviesan dos ríos principales?: Jordán y La Vega; tiene la reserva
            forestal protectora ‘El Malmo’, una Reserva Natural de la Sociedad Civil, y hace parte del complejo de
            Páramos del Altiplano Cundiboyacense. En Tunja se han identificado 37 ecosistemas con características de
            humedal y seis de ellos se han delimitado; y el volumen del acuífero, principal reserva de agua de la
            región, es 30 veces superior al del embalse de La Copa.
        </p>
    </div>

    <div class="coffee-group">
        <div class="imagen1">
            <div img src="/static/multimedia/images/ecoturismo.png" alt="">
                <h3>FAUNA</h3>
                <p>Se reportó un total de 50 registros de fauna, pertenecientes a 29 especies (1 de anfibios, 2
                    de reptiles, 19 de aves y 6 de mamíferos); además, se reportaron 94 individuos de flora. La
                    fauna de Tunja es diversa e incluye especies como el colibri, el carpintero y el gavilán. La
                    ciudad tambien alberga una población de venados de cola blanca y ademas zorros.
                </p>
            </div>
            <div class="imagen1">
                <img src="/static/multimedia/images/c1.png" alt="">
                <h3>HALLAZGOS</h3>
                <p> Hallamos 8.860 nuevos registros de especies de flora y fauna. Se han identificado 430
                    especies d eplantas ornamentales enla ciudad, distribuidas en 314 géneros y 87 familias .
                    Entre las especies más comunes se encuentran el Arrayán, el Laurel de cera y el Pino
                    romerón.
                </p>
            </div>
            <div class="imagen1">
                <img src="/static/multimedia/images/c2.png" alt="">
                <h3>REPORTE</h3>
                <p> Hallamos 1.825 especies que ya estan plenamente identificadas. EL habito más importante en
                    terminos de riqueza de especies fue el de las hiervas, seguido por los habitos leñosos
                    (árboles y arbustos). En ambientes del exterior se encontraron más especies de tipo arbóreo
                    y arbustivo.
                </p>
            </div>
        </div>
        <div class="imagen1">
            <img src="/static/multimedia/images/c3.png" alt="">
            <h3>DIVERSIDAD</h3>
            <p> Hallamos 155 especies de las que no se tenía registro cientifico en Boyacá.
            </p>
        </div>
    </div>
    <a href="#" class="btn-1">INFORMACIÓN RELEVANTE</a>
    </div>

</section>
<main class="services-contenet container">
    <section class="coffee">

        <img class="coffee-img" src="/static/multimedia/images/icon_fyf.gif" <div class="coffee-content container">
        <h2>Fauna y flora de la ciudad de Tunja. </h2>
        <p class="txp-p">
            ¿Sabías que a la ciudad de Tunja la atraviesan dos ríos principales?: Jordán y La Vega; tiene la reserva
            forestal protectora ‘El Malmo’, una Reserva Natural de la Sociedad Civil, y hace parte del complejo de
            Páramos del Altiplano Cundiboyacense. En Tunja se han identificado 37 ecosistemas con características de
            humedal y seis de ellos se han delimitado; y el volumen del acuífero, principal reserva de agua de la
            región, es 30 veces superior al del embalse de La Copa.
        </p>
        <div class="coffee-group">
            <div class="imagen1">
                <div img src="/static/multimedia/images/ecoturismo.png" alt="">
                    <h3>FAUNA</h3>
                    <p>Se reportó un total de 50 registros de fauna, pertenecientes a 29 especies (1 de anfibios, 2
                        de reptiles, 19 de aves y 6 de mamíferos); además, se reportaron 94 individuos de flora. La
                        fauna de Tunja es diversa e incluye especies como el colibri, el carpintero y el gavilán. La
                        ciudad tambien alberga una población de venados de cola blanca y ademas zorros.
                    </p>
                </div>
                <div class="imagen1">
                    <img src="/static/multimedia/images/c1.png" alt="">
                    <h3>HALLAZGOS</h3>
                    <p> Hallamos 8.860 nuevos registros de especies de flora y fauna. Se han identificado 430
                        especies d eplantas ornamentales enla ciudad, distribuidas en 314 géneros y 87 familias .
                        Entre las especies más comunes se encuentran el Arrayán, el Laurel de cera y el Pino
                        romerón.
                    </p>
                </div>
                <div class="imagen1">
                    <img src="/static/multimedia/images/c2.png" alt="">
                    <h3>REPORTE</h3>
                    <p> Hallamos 1.825 especies que ya estan plenamente identificadas. EL habito más importante en
                        terminos de riqueza de especies fue el de las hiervas, seguido por los habitos leñosos
                        (árboles y arbustos). En ambientes del exterior se encontraron más especies de tipo arbóreo
                        y arbustivo.
                    </p>
                </div>
            </div>
            <div class="imagen1">
                <img src="/static/multimedia/images/c3.png" alt="">
                <h3>DIVERSIDAD</h3>
                <p> Hallamos 155 especies de las que no se tenía registro cientifico en Boyacá.
                </p>
            </div>
        </div>
        <a href="#" class="btn-1">INFORMACIÓN RELEVANTE</a>
        </div>
</main>
{% endblock %}
    
    <footer class="footer" class="src/static/style.css">

        <div class="footer-contenet container">
            <div class="link">
                <h3>DESCUBRE</h3>
                <ul>
                    <li><a href="#">Quienes Somos</a></li>
                    <li><a href="#">Blog Tunja</a></li>
                    <li><a href="#">Sostenibilidad</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Trabaja con Nosotros</h3>
                <ul>
                    <li><a href="#">Empleo</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Conceptos</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Contactanos</h3>
                <ul>
                    <li><a href="#">Atención al cliente</a></li>
                    <li><a href="#">Contáctanos/PQRs</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Voluntariado</h3>
                <ul>
                    <li><a href="#">Participa</a></li>
                    <li><a href="#">Asóciate</a></li>
                    <li><a href="#">Activistas voluntarios</a></li>
                </ul>
            </div>
            <div class="link">
                <h3>Redes Sociales</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">twitter_X</a></li>
                </ul>
            </div>
            <p>Fotos y graficos © 2024.
                El texto esta bajo licencia de Creative ORCA. All rights reserved. </p>
        </div>
    </footer>
</body>

</html>