{% extends './index.html' %}

    {% block body %}
   <main>
       
    <h2>Informacion de Servicios</h2>
           <div class="services-1">
            <img src="/static/multimedia/images/i1.jpg" alt="">
            <h3>PROTECCIÓN DEL MEDIO AMBIENTE</h3>
        </div>
        <div class="service-1">
            <img src="/static/multimedia/images/i2.png" alt="">
            <h3>PRESERVACIÓN DE LA FLORA </h3>
        </div>
        <div class="service-1">
            <img src="/static/multimedia/images/i3.png" alt="">
            <h3>PRESERVACIÓN DE LA FAUNA</h3>
        </div>
        <div>
            <p> La secretaria de medio ambiente de Tunja junto con la secretaria de desarrollo busca apoyar procesos que
                permitan atender las necesidades de preservación y recuperación de los ecosistemas y promover el
                desarrollo
                rural, sostenible, económico y competitivo.
            </p>
            <a href="#" class="btn-1">Información</a>
        </div>
</main>

<seccion class="general">
    <div class="general-1">
        <h2>Reserva forestal Protectora El Malbo </h2>
        <p> Se localiza al suroeste de la ciudad de Tunja, cuenta con un área total de 159.3 hectareas los limites
            se ubican entre los 3050 a los 3279 m.s.n.m, presenta una vegetación caracterisada de bosque altoandino.
            Esta zona ha sido de gran importancia en cuanto al abastecimiento del recurso hidrico ya que cuenta con
            varias quebradas que alimentan al rio Teatinos fuente de abastecimiento del acueducto de los municipios
            de Tunja, Samacá y Ventaquemada, ademas es una zona de nacimiento de quebradas que son fuente de
            abastecimiento de acueductos rurales.
        </p>
        <a href="#" class="btn-1">Información</a>
    </div>
    <div class="general-2"></div>
</seccion>

<seccion class="general">
    <div class="general-3"></div>
    <div class="general-1">
        <h2>Complejo de páramos altiplano</h2>
        <p>
            El municipio de Tunja hace parte del complejo de paramos del altiplano Cundiboyacense, el cual fue
            delimitado por el Ministerio de Ambiente y Desarrollo Sostenible, ubicado en la zona central de la
            cordillera oriental de Colombia, configurandose como un archipielago de pequeñas islas dispersas en esta
            región andina del pais . La extención total del complejo de paramos es de 5.799 hectareas, distribuidas
            en 15 islas, en donde la más extensa tiene 1.463 hectareas.
            Tiene una gran importancia ecosistémica de preservación y regulación del recurso hídrico; además,
            alberga una gran variedad de fauna y flora, dentro de la que se destacan 68 registros de especies de
            flora pertenecientes a 55 géneros y 33 familias que equivalen al 1% del total de plantas vasculares para
            la región paramuna.
        </p>
        <a href="#" class="btn-1">Información</a>
    </div>
    <div class="general-3"></div>
</seccion>

<seccion class="general">
    <div class="general-3"></div>
    <div class="general-1">
        <h2>Reserva Natural de la Sociedad Civil La Cabaña, el cobre, la presentación, el recreacional, y la cascada
        </h2>
        <p>En el año 2012 se identificaron 37 ecosistemas con características de humedal; de estos, Corpoboyacá
            delimitó 5 urbanos y uno rural de la siguiente manera:
            Humedal La Cabaña.
            Este humedal se encuentra en el sector de La Cabaña y limita con el Colegio de Boyacá, la
            Cabaña. Se ubica a unos 10 metros de la antigua vía a Paipa y al viaducto. Cuenta con una gran variedad
            de aves migratorias.
            Humedal El Cobre.
            Este humedal se encuentra en la vereda Runta: es un importante humedal urbano, ya que se considera como
            una zona de recarga hídrica. El Cobre abarca una extensión de 14.196,2 metros cuadrados en época de
            lluvias (máximo de inundación), la cual disminuye a 4.786,01 metros cuadrados en época seca (mínima de
            inundación).
            Humedal La Presentación.
            Se encuentra al lado del Colegio La Presentación, en la margen derecha vía Tunja- Moniquirá; presenta un
            área de 0,586212 hectáreas.
            Humedal El Recreaciónal.
            Se ubica en la margen izquierda vía Tunja Moniquirá, dentro del Parque Recreacional del Norte, con un
            área de 0,197362 hectáreas. Históricamente el humedal del Parque Recreacional del Norte fue en gran
            parte relleno y almacenada el agua en un lago artificial, donde permanecían muchas especies de aves y
            anfibios, propios de zonas de humedales.
            Humedal La Cascada.
            Se ubica en la vereda Pirgua, con un área de 2,114837 hectáreas. Se caracteriza por presentar un amplio
            espejo de agua bien conservado, donde se encuentran algunas especies de fauna y flora representativas
            del ecosistema. Se encuentran aves como Cistothorus apolinari (Cucarachero de pantano), Ardea alba
            (Garza real), Chrysomus icterocephalus (Toche de pantano o monjita), Turdus fuscater (mirlas),
            Zonotrichia capensis (copetones), Dendropsophus labiales (rana verde).
            Humedal Tejares del Norte.
            Se ubica en el predio posterior a la urbanización Tejares del Norte, con un área de 1,536023 hectáreas.
            Este es un humedal ribereño, el cual sirve como zona de descarga del río La Cascada, el cual presenta un
            espejo de agua de aproximadamente 4×2 metros cuadrados dentro del área del humedal. Históricamente esta
            zona de recarga sirve de amortiguación en las inundaciones del río La Vega.
            Acuífero de Tunja, con influencia en 14 municipios, es considerado como una de las principales reservas
            de agua de la región. El volumen de agua contenida es 30 veces superior al volumen de agua almacenado en
            el embalse de La Copa.
            Finalmente, y no menos importante, se encuentran los parches de bosque localizados en el Bosque de la
            República, El Pozo de Donato y la Uptc.
        </p>
            </div>
</seccion>
{% endblock %}