
{% extends './index.html' %}

{% block body %}

<nav class="navbar bg-body-tertiary">
    <form class="container-fluid">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>
    </form>
</nav>
<h3>Ofrecemos Servicios de Asesoria Técnica</h3>

<section class="blog container">
<h2>bloq:</h2>
<p>DESCUBRE LO FACINANTE DE LA BIODIVERSIDAD</p>
<div class="bloq-contenet">
<div class="bloq-1">
    <img src="/static/multimedia/images/blog.png" alt="">
    <h3>BLOQ 1</h3>
    <p>Animales
    </p>
</div>

<div class="bloq-1">
    <img src="/static/multimedia/images/icon1.jpg" alt="">
    <h3>BLOQ 2</h3>
    <p>Ciencia
    </p>
</div>
<div class="bloq-1">
    <img src="/static/multimedia/images/logo.jpg" alt="">
    <h3>BLOQ 3</h3>
    <p>Fotografia
    </p>
</div>
</div>
<a href="#" class="btn-1">Información</a>
</section>
{% endblock %}  